



<div class="container">
  <div class="row">
    <div class="col-sm">
        <h3 style="color: #eee;">Supercharge your productivity with our
            professional suite.
            </h3>

            <small style="color: #eee;">
                For digitalists and professionals looking to level up their digital work space and unlock the full power of our encrypted note-taking suite, including the unique multi-editor system, cloud and email backups, custom modules and styles, you can learn more about our all-in-one professional suite, and choose the plan that best suits you, starting at $29/year.
            </small>



    </div>
    <div class="col-sm">

        <span style="font-weight: bold;">PLANS FROM</span>

        <span><span style="font-weight: bold; font-size: 24px;">$29/</span>year</span>

        <ul class="list-group">
            <li class="list-group-item disabled">Unique multi-editor system</li>
            <li class="list-group-item">Extended notes history</li>
            <li class="list-group-item">Cloud and email backups</li>
            <li class="list-group-item">Custom modules &amp; styles</li>
            <li class="list-group-item">Encrypted file and attachments</li>
            <li class="list-group-item">Two-factor authentication</li>
            <li class="list-group-item">Custom domain &amp; certificate</li>
            <li class="list-group-item">And so much more</li>
          </ul>

          <button class="btn btn-primary btn-lg">Learn more</button>

    </div>
  </div>
</div>
